#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100vh;
  width: 100vw;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}
.mapboxgl-canvas {
  cursor: crosshair !important;
}
.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px;
  border-radius: 4px;
}
